<h1>Edit Product: {{id}}</h1>
<h2>{{error}}</h2>
<form id='editForm' action="/products/{{id}}?_method=PUT" method="post">
  <input type="hidden" name="_method" value="PUT">
  Product Name:
  <input type="text" name='name' value="{{name}}">
  Product Price:
  <input type="text" name='price' value="{{price}}">
  Product Inventory:
  <input type="text" name='inventory' value="{{inventory}}">
</form>
<button type="submit" form='editForm' value="Submit">Submit</button>