<h1>Name: {{name}}</h1>
<h2>Price: {{price}}</h2>
<h3>Inventory: {{inventory}}</h3>
<a href='{{id}}/edit'>Edit?</a>
<form action="{{id}}?_method=DELETE" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete?">
</form>